.list-to-add {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    width: 400px;
    padding: 0;
}

.list-item {
    background-color: white;
    margin-top: 5px;
}

.list-container {
    display: flex;
    justify-content: center;
}

.item-card {
    margin-bottom: 10px;
    list-style: none;
}

.button-container {
    margin: 14px;
}